*
{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     list-style-type: none;
}
.img
{
     height: 100vh;
     width: 100vw;
     background-image: url("bg.png");
     background-size: contain;
     background-repeat: no-repeat;
     z-index: -1;
}
nav
{
     display: flex;
     justify-content: end;
     height: 50px;
     padding: 6px 1px;
     background-color:rgba(rgba(255, 0, 0, 0.078), green, blue, alpha) (248, 251, 253,.1);
     width: 100%;
}
nav ul
{
     width: 300px;
     border: 1px solid;
     display: flex;
     justify-content: space-between;
}
h1
{    position: relative;
     top: 15px;
     text-decoration-line: underline;
     background: linear-gradient(90deg,rgb(125, 9, 18),rgb(129, 44, 185),rgb(28, 63, 190),rgb(19, 190, 170));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     text-align: center;
}
#gallery
{
     position: relative;
     top: 50px;
     display: inline-flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     height: 150vh;
     width: 100vw;
     
     
}
#gallery img
{
     width: 40w;
     height: 40vh;
     object-fit: cover;
     border-radius: 15px;
     display: flex;
     box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
}

#gallery img:hover,:active,:focus
{
     box-shadow: 0px 5px 35px rgba(0,0,0,0.9);
}